button {
    color: white;
    background-color: black;
    font-size: 25px;
    padding: 10px;
    width: 110px;
    margin-bottom: 10px;
    border-radius: 12px;
}

.reset-button {
    display: block;
    margin: 0 auto;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

}

div {
    color: white;
    text-align: center;
}

.instructions {
    font-size: 20px;
}

.score {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.round-results {
    font-size: 20px;
    margin-bottom: 20px;
}
.game-results {
    font-size: 20px;
    margin-bottom: 20px;
 }
 
.container {
    width: 400px;
    height: 500px;
}

.center {
    display: flex;
    justify-content: center;
}
